:root
{
    --primary: rgb(20, 20, 20);
    --secondary: rgb(255, 157, 0);
}


*
{
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header
{
    text-align: center;
}

body
{
    background-color: black;
}

#canvas
{
    background-color: black;
    border: 1px solid whitesmoke;
    margin: 0 auto;
    display: block;
}

.sidebar
{
    position:fixed;
    top:0;
    left:0;
    width:20rem;
    height:100%;
    background-color: var(--primary);
    transition: 0.5s;

}

.sidebar > h2
{
    padding: 0.1rem;
    text-align: center;
    margin-right:4rem;
}

.arrow
{
    cursor: pointer;
    padding:0.1rem;
    shape-rendering: geometricPrecision;
    position: absolute;
    right:0;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-left:auto;
    transition: 0.5s;
}

.arrow.hidden 
{
    transform: scaleX(-1);
    transition: 0.5s;
}

.sidebar.hidden
{
    left: calc(-20rem + 4rem);
    transition: 0.5s;
    overflow:hidden;
}

.sidebar > .colorBar
{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:4rem;
    background-color:   var(--secondary);
}

.componentList
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    row-gap: 1rem;
    width: calc(20rem - 4rem);
    height:100%;
    
}

.componentList > *
{
    border: 0.1rem solid whitesmoke;
    width: 4rem;
    height: 4rem;
    cursor:grab;
}

.button
{
    height:100%;
    padding:0.5rem;
    background-color: var(--secondary);
    cursor: pointer;
}

main > .buttonHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    gap: 5rem;
}

.textDisplay
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary);
    width:22rem;
    padding:0.5rem;
    height:2rem;
}

.contextMenu
{
    display:flex;
    flex-direction: column;
    gap:0.1rem;
    position: fixed;
    background-color: whitesmoke;
    min-width: 2rem;
    min-height: 2rem;
    justify-content: center;
    align-items: left;

    top:50%;
    left:50%;

    border-radius: 1.5rem;
}

.contextMenu.hidden
{

    display:none;
    opacity:0;
}



.contextMenu > .contextMenuOption
{
    color:black;
    padding:1rem;

    display:flex;
    justify-content: left;
    align-items: center;
    gap:0.5rem;
    transition: 0.1s;

    width:100%;

    cursor: pointer;
}

.contextMenu > .contextMenuOption:hover
{
  
   transition: 0.1s;
   transform:scale(1.05);
   filter:drop-shadow(0 0 0.1rem lightgray);

}

.contextMenu > .contextMenuOption > img
{
    width: 2rem;
    height: 2rem;
}
